AWS_REGION=ap-south-1
INVENTORY_TABLE_NAME=StockPulseInventory
INVENTORY_EVENTS_QUEUE_URL=https://sqs.ap-south-1.amazonaws.com/119618549031/StockPulseInventoryEvents
OPENSEARCH_ENDPOINT=https://search-stockpulse-abc123.us-east-1.es.amazonaws.com
OPENSEARCH_INDEX=stockpulse-inventory
